---
import Layout from "../layouts/Layout.astro";
import UnderConstruction from "../assets/under-construction00.svg";

---
<Layout>
   
        <div class="construction">
            <img src="../assets/under-construction00.svg" alt="Under Construction" />
        </div>


</Layout>