---
import Layout from "../layouts/Layout.astro";
import Garden from "../components/Garden.astro";
import SuccessButton from "../components/SuccessButton.astro";
import ProfilButton from "../components/ProfilButton.astro";
---

<Layout title="Greentopia - Home">
    <div class="flexbox">
        <Garden backgroundId="garden-id" />
        <button class="big-button left-button" id="btn"></button>
        <!-- Demo-Button um zu schauen ob Garten umschalten geht-->
        <!-- <SuccessButton /> -->
        <ProfilButton />
    </div>
</Layout>

<script>
    function main() {
        const garden = document.getElementById("garden-id");
        if (!garden) {
            return;
        }

        const btn = document.getElementById("btn");
        if (!btn) {
            return;
        }

        btn.addEventListener("click", function () {
            if (garden.className === "garden-background") {
                garden.className = "garden-background-small";
                return;
            }
            garden.className = "garden-background";
        });
    }
    
    main();
</script>
