---
import Layout from "../layouts/Layout.astro";
import '../css/index.css';
import Baum from "../assets/Baum.svg";
import Pflanze from "../assets/Pflanze.svg";
import SuccessButton from "../components/SuccessButton.astro";
import ProfilButton from "../components/ProfilButton.astro";
---

<Layout title="Greentopia - Home">
    <div class="flexbox">
        <div class="background">
            <div class="grid-garden">
                <Baum />
                <Pflanze />
                <div class="background-flor"></div>
            </div>
        </div>
        <SuccessButton/>
        <ProfilButton/>
    </div>
</Layout>
