---
import Layout from "../layouts/Layout.astro";
import Garden from "../components/Garden.astro";
import SuccessButton from "../components/SuccessButton.astro";
import ProfilButton from "../components/ProfilButton.astro";
import Challenge from "../components/SidePopupChallenge.astro";
import Reward from "../components/SidePopupReward.astro";
import Profil from "../components/SidePopupProfil.astro";
import OverPopUpNotification from "../components/OverPopUpNotification.astro";
import OverPopupSuccess from "../components/OverPopupSuccess.astro";
---

<Layout title="Greentopia - Home">
    <div class="flexbox-content">
        <Challenge/>
        <Reward/>
        <Garden backgroundId="garden-id" />
        <!-- <button class="big-button left-button" id="btn"></button>
        Demo-Button um zu schauen ob Garten umschalten geht -->
        <Profil/>
        <ProfilButton id="p-btn"/>
    </div>
</Layout>

<script>
    const popup = document.getElementById("popup-id");
    const garden = document.getElementById("garden-id");
    const btn = document.getElementById("btn");

    function gardenToggle() {
        if (!garden) {
            return;
        }

        if (!btn) {
            return;
        }

        btn.addEventListener("click", function () {
            if (garden.className === "garden-background") {
                garden.className = "garden-background-small";
                return;
            }
            garden.className = "garden-background";
        });
    }


document.addEventListener("DOMContentLoaded", function() {
    // when the button is clicked -> show the corresponding popup and hide the button
    // also hide the other popup if it is visible
    const btn = document.getElementById("btn");
    const profilbtn = document.getElementById("p-btn");
    const reward = document.getElementById("reward-popup");
    const profil = document.getElementById("profil-popup");

    if (btn && reward) {
        btn.addEventListener("click", function () {
            // Show the reward popup and hide the button
            btn.classList.add("hidden");
            reward.classList.remove("hidden");
            reward.classList.add("visible");
            // Hide the profil popup
            if (profil && profil.classList.contains("visible")) {
                console.log('Closing ProfilPopup');
                profil.classList.remove("visible");
                profil.classList.add("hidden");
                // Show the button again
                if (profilbtn) {
                    profilbtn.classList.remove("hidden");
                    profilbtn.className = "big-button right-button";
                }
            }
        });
    }
    
    if (profilbtn && profil) {
        profilbtn.addEventListener("click", function () {
            // Show the profil popup and hide the profil button
            profilbtn.classList.add("hidden");
            profil.classList.remove("hidden");
            profil.classList.add("visible");
            // Hide the reward popup
            if (reward && reward.classList.contains("visible")) {
                console.log('Closing RewardPopup');
                reward.classList.remove("visible");
                reward.classList.add("hidden");
                // Show the button again
                if (btn) {
                    btn.classList.remove("hidden");
                    btn.className = "big-button left-button";
                }
            }
        });
    }

    // when the header icon is clicked -> close the currently visible popup
    const challenge = document.getElementById("challenge-popup");
    const headerIcon = document.querySelectorAll("#header-icon");
            for (const icon of headerIcon) {
                icon.addEventListener("click", handleHeaderIconClick);
            }

    function handleHeaderIconClick() {
            // Reward Popup
            if (reward && reward.classList.contains("visible")) {
                console.log('Closing RewardPopup');
                reward.classList.remove("visible");
                reward.classList.add("hidden");
                // Show the button again
                if (btn) {
                    btn.classList.remove("hidden");
                    btn.className = "big-button left-button";
                }
            }
            // Challenge Popup
            if (challenge && challenge.classList.contains("visible")) {
                console.log('Closing ChallengePopup');
                challenge.classList.remove("visible");
                challenge.classList.add("hidden");
                //+ show Reward Popup
                if (reward) {
                    reward.classList.remove("hidden");
                    reward.classList.add("visible");
                }
            }
            // Profil Popup
            if (profil && profil.classList.contains("visible")) {
                console.log('Closing ProfilPopup');
                profil.classList.remove("visible");
                profil.classList.add("hidden");
                // Show the button again
                if (profilbtn) {
                    profilbtn.classList.remove("hidden");
                    profilbtn.className = "big-button right-button";
                }
            }
    }

    // Close the challenge popup when the submit icon is clicked
    const submitIcon = document.getElementById("challenge-submit");

    if (submitIcon && challenge) {
            submitIcon.addEventListener("click", function ()  {
                challenge.classList.remove("visible");
                challenge.classList.add("hidden");
                // Show the button again
                if (btn && btn.classList.contains("hidden")) {
                    btn.classList.remove("hidden");
                    btn.className = "big-button left-button";
                }
            });
        }

});

</script>
