---
import Layout from "../layouts/Layout.astro";
import Baum from "../assets/Baum.svg";
import Pflanze from "../assets/Pflanze.svg";
---

<Layout title="Greentopia - Home">
    <div class="Background">
        <Baum />
        <Pflanze />
    </div>
</Layout>
