---
import Layout from "../layouts/Layout.astro";
import Garden from "../components/Garden.astro";
import SuccessButton from "../components/SuccessButton.astro";
import ProfilButton from "../components/ProfilButton.astro";
import SidePopupMain from "../components/SidePopupMain.astro";
---

<Layout title="Greentopia - Home">
    <div class="flexbox-content">
        <div>
        <SidePopupMain popup="popup-id"> 
        </SidePopupMain>
        <Garden backgroundId="garden-id" />
        <!-- <button class="big-button left-button" id="btn"></button>
        Demo-Button um zu schauen ob Garten umschalten geht -->
        <SuccessButton id="btn"/>
        <ProfilButton />
        </div>
    </div>
</Layout>

<script>

     function garden() {
        const garden = document.getElementById("garden-id");
        if (!garden) {
            return;
        }

     const btn = document.getElementById("btn");
       if (!btn) {
           return;
       }

        btn.addEventListener("click", function () {
           if (garden.className === "garden-background") {
                garden.className = "garden-background-small";
                return;
            }
            garden.className = "garden-background";
        });
    }
    garden();

function main() {
        const popup = document.getElementById("popup-id");
        if (!popup) {
            return;
        }

        const btn = document.getElementById("btn");
        if (!btn) {
            return;
        }

        btn.addEventListener("click", function () {
            if (popup.className === "hidden") {
                popup.className = "popup";
                return;
            }
            popup.className = "hidden";
        });
    }
    main();

</script>
