---
import Layout from "../layouts/Layout.astro";
import Garden from "../components/Garden.astro";
import SuccessButton from "../components/SuccessButton.astro";
import ProfilButton from "../components/ProfilButton.astro";

// function toggleGardenSize() {
//     const garden = document.getElementById("garden");
//     if (garden.size === "small") {
//         garden.size = "";
//         return;
//     }
//     garden.size = "";
// }
---

<Layout title="Greentopia - Home">
    <div class="flexbox">
        <Garden  id="garden" />
        <SuccessButton />
        <ProfilButton />
    </div>
</Layout>
