
<nav class="navbar">
    <ul class="nav-list">
        <li>
            <a href="/">
                <img src="tree-solid.svg" alt="tree" class="nav-icon">
            </a>
            
        </li>
        <li>
            <a href="/">
                <img src="image-solid.svg" alt="image" class="nav-icon">
            </a>
            
        </li>
        <li>
            <a href="/">
                <img src="flag-checkered-solid.svg" alt="tree" class="nav-icon">
            </a>
            
        </li>
        <li>
            <a href="/">
                <img src="lightbulb-regular.svg" alt="tree" class="nav-icon">
            </a>
            
        </li>
        <li>
            <a href="/">
                <img src="comment-regular.svg" alt="tree" class="nav-icon">
            </a>
            
        </li>
        <li>
            <div class="trees-icon">
                <a href="/">
                    <img src="tree-solid.svg" alt="tree" class="nav-icon">
                    <img src="tree-solid.svg" alt="tree" class="nav-icon">
                </a>
                
            </div>
           
        </li>
        
    </ul>
</nav>