
<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/">Galerie</a>
        </li>
        <li>
            <a href="/">meine Challenges</a>
        </li>
        <li>
            <a href="/">Informationen</a>
        </li>
        <li>
            <a href="/">Chat</a>
        </li>
        <li>
            <a href="/">Freundegalerie</a>
        </li>
    </ul>
</nav>