---
import OverPopup from "./OverPopup.astro"
import "../css/overpopupstylesuccess.css"
---

<OverPopup>
<button class="button-next" onclick="removePopUp()">
    <img src="next.svg" alt="button-close for next popup" />
</button>
<div class="icon-background">
    <img src="#" alt="popup-icon" />
</div>
<h2>Super!</h2>
<p>
    Du hast Dir eine neue Challenge gesetzt! Nach dem ersten Interval erscheint
    dein Eichhörnchen in Deinem Garten!
</p>
</OverPopup>
