---
import "../css/overpopupstyle.css"
---

<div id="popup-success" class="flexbox">
    <div class="triangle"></div>
    <div class="rectangle">
        <main>
            <slot />
        </main>
    </div>
</div>
