---
import "../css/overpopupstyle.css"
const { id } = Astro.props;
---

<div id={id} class="flexbox">
    <div class="triangle"></div>
    <div class="rectangle">
            <slot />
    </div>
</div>

<!-- Kann ich slot auch ohne main verwenden? -->
