---
import OverPopupMain from "./OverPopupMain.astro"
import "../css/overpopupstylesuccess.css"
import Squirrel from "../assets/squirrel00.svg"
---

<OverPopupMain>
<button class="button-next" onclick="removePopUp()">
    <img src="/src/assets/next00.svg" alt="button-close for next popup" />
</button>
<div class="icon-background">
    <Squirrel ></Squirrel>
    <!-- fehlt noch: alt="popup-icon" -->
</div>
<h2>Super!</h2>
<p>
    Du hast Dir eine neue Challenge gesetzt! Nach dem ersten Interval erscheint
    dein Eichhörnchen in Deinem Garten!
</p>
</OverPopupMain>
