---
import "../css/NotificationPopup.css";
import Profil from "../assets/profil00.svg";
import Chats from "../assets/chats00.svg";
---
<div class="Notify-popup hidden">
    <span class="popup-close">&times;</span>
    <div class="Notify-popup-content" >
        <p>Diese Leute in Deinem Kreis haben eine Challenge im gleichen Bereich:</p>
        <ul class="popup-list">
          <li>
            <Profil aria-label="profil00.svg" class="user-icon" />
            Annabeth
            <Chats aria-label="chatsl00.svg" class="chat-icon" />
          </li>
          <li>
            <Profil aria-label="profil00.svg" class="user-icon" />
            Bartholomeus
            <Chats aria-label="chatsl00.svg" class="chat-icon" />
          </li>
          <li>
            <Profil aria-label="profil00.svg" class="user-icon" />
            Charlson
            <Chats aria-label="chatsl00.svg" class="chat-icon" />
          </li>
        </ul>
    </div>
    
  </div>
  