---
import "../css/SidePopupStyle.css";
import MissingIcon from "../assets/under-construction00.svg";
const {
    variant = "orange, purple",
    title,
    description,
    iconSrc: Icon = MissingIcon,
    popup,
} = Astro.props;
import HelpIcon from "../assets/help00.svg";
---

<div class="popup hidden" id={popup}>
    <header class={`popup-header header--${variant}`}>
        <ul class="header-layout">
            <li>
                <Icon id="header-icon" class="icon" alt="Popup-Icon" width="48" height="48" />
                <!--fetched from input before?-->
            </li>
            <li class="header-text">
                <h1>{title}</h1>
                <p>{description}</p>
            </li>
            <li>
                <button>
                    <HelpIcon
                        class="icon icon-hover"
                        aria-label="help-icon"
                        width="48"
                        height="48"
                    />
                    <!-- icon into popup explanation-->
                </button>
            </li>
        </ul>
    </header>
    <main class="popup-content">
        <slot />
    </main>
</div>

<!-- mit style auch CSS in der Komponente,
 dann aber nur das was zu der Komponente gehört,
 Vorteil alles an einem Ort -->
