---
import "../css/SidePopUpStyle.css";
const { variant = "orange, purple", title, description, iconSrc: Icon } = Astro.props;
const { popup } = Astro.props;
import HelpIcon from "../assets/help00.svg";
---

<div class="popup">
    <header class={`popup-header header--${variant}`}>
        <ul class="header-layout">
            <li>
                <Icon id="header-icon" class="icon" alt="Popup-Icon" width="48" height="48" />
                <!--fetched from input before?-->
            </li>
            <li>
                <h1>{title}</h1><br />
                <p>{description}</p>
            </li>
            <li>
                <button>
                    <HelpIcon
                        class="icon"
                        aria-label="help-icon"
                        width="48"
                        height="48"
                    />
                    <!-- icon into popup explanation-->
                </button>
            </li>
        </ul>
    </header>
    <main class="popup-content">
        <slot />
    </main>
</div>

<!-- mit style auch CSS in der Komponente,
 dann aber nur das was zu der Komponente gehört,
 Vorteil alles an einem Ort -->
