---
import "../css/SidePopupStyle.css";
import Popup from "./SidePopupMain.astro";
import SquirrelIcon from "../assets/squirrel00.svg";
import InfoIcon from "../assets/info00.svg";
import DiceIcon from "../assets/dice00.svg";
import CheckIcon from "../assets/check00.svg";
const { popup } = Astro.props;
---

<div> <!--class="hidden" id={popup} -->
<Popup
    variant="orange"
    iconSrc={SquirrelIcon}
    title="Neue Challenge"
    description="Setze Dir selbst eine neue Routine, um Dir Belohnungen freizuschalten"
>
    <form class="challenge-form">
        <fieldset class="challenge-focus">
            <label for="focus">im Themenfokus:</label><br />
            <select id="focus" name="focus" required>
                <option value="placeholder" disabled selected hidden>Wähle ein Thema</option>
                <option value="own">eigener</option>
                <option value="packaging">Verpackungen</option>
                <option value="meatconsumption">Fleischkonsum</option>
                <option value="others">nochAndere</option>
            </select>
            <InfoIcon class="icon" alt="topic-information" width="48" height="48" />
        </fieldset>
        <div class="challenge-layout">
            <fieldset class="challenge-detail">
                <label for="challenge">Überlege Dir die genaue Challenge:</label
                ><br />
                <div class="random-layout">
                    <div class="random-provisional"></div>
                    <!-- random options of challenges on button click -->
                    <DiceIcon
                        class="icon"
                        alt="randomiser"
                        width="48"
                        height="48"
                    />
                    <!-- icon dice and scale? -->
                </div>
                <textarea id="challenge" name="challenge">
                    Ich ...
                </textarea><br />
            </fieldset>
            <fieldset class="challenge-interval">
                <label for="frequency">mit der Häufigkeit:</label><br />
                <input
                    type="number"
                    id="frequency"
                    name="frequency"
                    min="1"
                    required
                /><br />
                <label for="per">pro</label><br />
                <select id="per" name="per" required>
                    <option value="placeholder" disabled selected hidden
                        >Interval</option
                    >
                    <option value="day">Tag</option>
                    <option value="week">Woche</option>
                    <option value="month">Monat</option>
                </select>
            </fieldset>
        </div>
        <div class="challenge-end-layout">
            <div class="popup-check">
                <input
                    class="checkbox"
                    type="checkbox"
                    id="visibility"
                    name="visibility"
                    value="yes"
                />
                <label for="visibility">
                    sichtbar für Leute in Deinem Kreis</label
                >
            </div>
            <CheckIcon
                class="icon"
                alt="Submit"
                width="48"
                height="48"
            />
        </div>
    </form>
</Popup>
</div>