---
import "../css/SidePopUpStyle.css";

type IconType = {
  src: any; // Accepts any imported component
  alt?: string;
  id?: string;
};

type Props = {
  title: string;
  icons: IconType[];
  id?: string;
};

const { title, icons, id } = Astro.props as Props;
---

<section class="popup-section">
    <h3>{title}</h3>
    <div class="icon-container">
    {icons.map((icon) => {
      const IconComponent = icon.src
      return <IconComponent class="reward-icon" aria-label={icon.alt ?? ''} id={icon.id} width="48" height="48"/>
    })}
  </div>
</section>
