  .flexbox {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin: 5.5% 9.2%;
 }

 .background {
     /* position: absolute; */
     display: flex;
     align-items: center;
     justify-content: center;
     width: 78vw;
     height: 63vh;
     background-color: #DFF0EA;
     border-radius: 64px;
     /* margin: 0 3.75rem; */
     /* transition: all 1s ease-out; */
 }