 .background {
      position: absolute;
      /* margin: 80px; */
      display: flex;
      align-items: center;
      justify-content: center;
      width: 78vw;
      height: 63vh;
      background-color: #DFF0EA;
      border-radius: 64px;
      /* transition: all 1s ease-out; */
    }

  .flexbox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: #FAFFFD;
  }