.flexbox {
    display: flex;
    flex-direction: column;
    /* height: 36vh; */
    width: 40vw;
    min-width: 350px;
    max-width: 500px;
    align-items: center;
    position: absolute;
    left: 21vw;
    top: 14vh;
}

.hidden {
    display: none;
}

.triangle {
    width: 0px;
    height: 0px;
    border-right: 3.8vw solid transparent;
    border-bottom: 3.8vw solid #534294;
    border-left: 3.8vw solid transparent;
}

.rectangle {
    background-color: #534294;
    color: white;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.3);
    border-radius: 26px;
    padding: 2rem;
}