.success-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success-content p {
    font-size: 1rem;
    /* kann gelöscht werden, wenn p nicht in Komponente SidePopUpStyle überschrieben wird für alle Elemtente */
}

.button-next {
    position: absolute;
    right: 5%;
    /* top: 14vh; */
    background-color: #534294;
    border: none;
    width: 8%;
}

.button-next:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
}

.button-next img {
    width: 100%;
}

.icon-background {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: white;
    width: 30%;
}

.icon-background svg {
    padding: 15%;
    width: 100%;
    height: auto;
}

/* Animation beim Erscheinen des PopUps */

.animation-visible {
    animation: bouncePopup 0.6s ease-in;
    /* animation: squashStretchIn 0.6s ease-in; */
    transform-origin: bottom;
    opacity: 1;
}

.animation-visible .triangle {
    animation: addTriangle 0.15s ease-in 0.6s 1 normal forwards;
    transform-origin: bottom;
}
@keyframes bouncePopup {
        0%   { transform: scale(0.8,1.2) translateY(-100vh); }
        20%   { transform: scale(0.8,1.2) translateY(0); }
        40%  { transform: scale(1.1,0.9) translateY(0); }
        70%  { transform: scale(0.95,1.05) translateY(0); }
        100%  { transform: scale(1,1)    translateY(0); }  
    }