html, body{
    margin: 0;
    padding: 0;
    font-family:Convergence, sans-serif;
    background: rgb(255, 255, 255);
}
.navbar {
    background-color: #397A62;
    height: 5rem;
    display:flex;
    align-items: center;
}

.nav-list {
    display:flex;
    justify-content: space-around;
    width: 1000%;
    list-style: none;
    margin: 0;
    padding:0;
}

.nav-icon {
   width:1.5rem;
   height:1.5rem;
} 
.nav-item {
    position: relative;
  }

  .nav-double-icon {
   display:flex;
  }
  
  .nav-label {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #397A62;
    color: white;
    padding: 0.2rem 0.6rem;
    border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
    font-size: 1rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    white-space: nowrap;
  }
  
  .nav-item:hover .nav-label {
    opacity: 1;
  }

   
  
.trees-icon a {
    text-decoration: none;
}

.big-button {
    position: fixed;
    bottom: 5rem;
    width: 7.5rem;        
    height: 7.5rem; 
    font-size: 18px;
    border: none;
    border-radius: 50%;
    background-color: #397A62;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: background-color 0.3s ease;
  }
  
  .big-button:hover {
    background-color: #9147AE;
  }
  
  .left-button {
    left: 5rem;
  }
  
  .right-button {
    right: 5rem;
  }
  .button-icon {
    width:2.5rem;
    height:2.5rem;
 }

 