---
import "../css/style.css"
import NavBar from "../components/NavBar.astro"
---

<html lang="de">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <NavBar/>
       <main>
        <slot/>
       </main>
		<h1>Astro</h1>
	</body>
</html>
